{{> player-hero heroData=content.heroData}}

<div class="wrapper">
  <section>
    {{#if content.avatarThumbUrl}}
    <div class="text-center mb-6">
      <img src="{{content.avatarThumbUrl}}" alt="{{content.displayName}}" class="profile-avatar-img" />
    </div>
    {{/if}}

    {{#if content.bio}}
    <div class="profile-section">
      <h2 class="profile-section-heading">About</h2>
      <p>{{content.bio}}</p>
    </div>
    {{/if}}

    {{#if content.showCompetitiveResults}}
    {{> player-results eventGroups=content.eventGroups firstCompetitionYear=content.firstCompetitionYear}}
    {{/if}}

  </section>
</div>
